@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,800,900&display=swap');

*{
	font-family: 'Poppins',sans-serif;
	color: #fff !important;
	box-sizing: border-box;
}

.logo{
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.links a{
	font-weight: 700;
	padding: 10px;
	transition: ease 0.4s;
}

/*No poner en responsive*/
.links a:hover{
	color: black !important;
	background-color: rgb(160, 13, 0);
	border-radius: 40px;
}

.links li a{
	color: #fff !important;
	margin-right: 10px;
	text-transform: uppercase;
}

.main{
	background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.6)),url(https://images.pexels.com/photos/844297/pexels-photo-844297.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	overflow: auto;
}

.icon{
	font-size: 200px;
	border: none;
	text-align: center;
}

.search-bar{
	width: 60%;
	background-color: transparent;
	border: #fff solid 2px;
	padding: 10px;
}


